<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.ThemeMapper" >
  <resultMap id="BaseResultMap" type="ssm.po.Theme" >
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="posting_time" property="postingTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="good_post" property="goodPost" jdbcType="VARCHAR" />
    <result column="is_nav" property="isNav" jdbcType="VARCHAR" />
    <result column="is_banner" property="isBanner" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    post_id, title, content, posting_time, user_id, area,good_post
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from theme
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  
  <!-- 最近回复贴 -->
  <select id="selectPostByRecentBack" resultMap="BaseResultMap"  >
    select t.post_id,t.user_id,t.title,t.area,tb.reply_time posting_time
    from theme_back tb,theme t 
    where tb.back_theme_id =t.post_id ORDER BY tb.reply_time DESC 
  </select>
  
  <!-- 最近发帖  -->
  <select id="selectThemeByRecentPost" resultMap="BaseResultMap" parameterType="java.lang.String" >
   select t.post_id,t.user_id,t.title,t.content,t.area,t.posting_time
   from theme t
   <where>
     <if test="isNav!=null">
       t.is_nav = #{isNav,jdbcType=VARCHAR}
     </if>
   </where>
   ORDER BY t.posting_time DESC
  </select>

  <!-- 查询轮播图  -->
  <select id="selectBannerList" resultType="ssm.po.Banner" parameterType="java.lang.String" >
    select id,post_id postId,main_title mainTitle,sub_title subTitle,big_pic_url bigPicUrl,small_pic_url smallPicUrl,post_url postUrl,area,creation_date creationDate from banner
     where is_enable = #{isEnable,jdbcType=VARCHAR}
    ORDER BY creation_date desc
  </select>

  <update id="updateBannerEnableById" parameterType="java.lang.Integer" >
    update banner
    set is_enable = 'N'  where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from theme
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>

<!--插入轮播表-->
  <insert id="insertBannerSelective" keyProperty="id" useGeneratedKeys="true" parameterType="ssm.po.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="mainTitle != null" >
        main_title,
      </if>
      <if test="subTitle != null" >
        sub_title,
      </if>
      <if test="bigPicUrl != null" >
        big_pic_url,
      </if>
      <if test="smallPicUrl != null" >
        small_pic_url,
      </if>
      <if test="postUrl != null" >
        post_url,
      </if>
      <if test="area != null" >
        area,
      </if>

      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="mainTitle != null" >
        #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="bigPicUrl != null" >
        #{bigPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="smallPicUrl != null" >
        #{smallPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="postUrl != null" >
        #{postUrl,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>

      <if test="isEnable != null" >
        #{isEnable,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
<!--  插入主题表-->
  <insert id="insertSelective" keyProperty="postId" useGeneratedKeys="true" parameterType="ssm.po.Theme" >
    insert into theme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="postingTime != null" >
        posting_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="goodPost != null" >
        good_post,
      </if>
      <if test="isNav != null" >
        is_nav,
      </if>
      <if test="isBanner != null" >
        is_banner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="postingTime != null" >
        #{postingTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="goodPost != null" >
        #{goodPost,jdbcType=VARCHAR},
      </if>
      <if test="isNav != null" >
        #{isNav,jdbcType=VARCHAR},
      </if>
      <if test="isBanner != null" >
        #{isBanner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.po.Theme" >
    update theme
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="postingTime != null" >
        posting_time = #{postingTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="goodPost != null" >
        good_post = #{goodPost,jdbcType=VARCHAR},
      </if>
      <if test="isNav != null" >
        isNav = #{isNav,jdbcType=VARCHAR},
      </if>
      <if test="isBanner != null" >
        isBanner = #{isBanner,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  </mapper>