<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.ThemeBackMapper" >
  <resultMap id="BaseResultMap" type="ssm.po.ThemeBack" >
    <id column="back_id" property="backId" jdbcType="INTEGER" />
    <result column="back_theme_id" property="backThemeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="reply_time" property="replyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    back_id, back_theme_id, user_id, content, reply_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from theme_back
    where back_id = #{backId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from theme_back
    where back_id = #{backId,jdbcType=INTEGER}
  </delete>

<delete id="deleteByBackThemeId" parameterType="java.lang.Integer" >
    delete from theme_back
    where back_theme_id = #{backThemeId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="ssm.po.ThemeBack" >
    insert into theme_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="backId != null" >
        back_id,
      </if>
      <if test="backThemeId != null" >
        back_theme_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="backId != null" >
        #{backId,jdbcType=INTEGER},
      </if>
      <if test="backThemeId != null" >
        #{backThemeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.po.ThemeBack" >
    update theme_back
    <set >
      <if test="backThemeId != null" >
        back_theme_id = #{backThemeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where back_id = #{backId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.po.ThemeBack" >
    update theme_back
    set back_theme_id = #{backThemeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=VARCHAR}
    where back_id = #{backId,jdbcType=INTEGER}
  </update>
</mapper>