<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="ssm.po.Users" >
    <id column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="REGISTER_TIME" property="registerTime" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="PMS_AREA" property="pmsArea" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EMAIL, PASSWORD, USER_ID, REGISTER_TIME, ROLE_ID, PMS_AREA
  </sql>
  <select id="selectByIdAndPassword" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from USERS
    where EMAIL = #{email,jdbcType=VARCHAR} And PASSWORD = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from USERS
    where EMAIL = #{email,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserIdByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  EMAIL, USER_ID 
    from USERS
    where EMAIL = #{email,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from USERS
    where EMAIL = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ssm.po.Users" >
    insert into USERS (EMAIL, PASSWORD, USER_ID, 
      REGISTER_TIME, ROLE_ID, PMS_AREA
      )
    values (#{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=VARCHAR}, #{roleId,jdbcType=DECIMAL}, #{pmsArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ssm.po.Users" >
    insert into USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="pmsArea != null" >
        PMS_AREA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="pmsArea != null" >
        #{pmsArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByUserId" parameterType="ssm.po.Users" >
    update USERS
    <set >
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME = #{registerTime,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="pmsArea != null" >
        PMS_AREA = #{pmsArea,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  
</mapper>